/***********************************************
Top bar color 
***********************************************/

html {
    border-top: 65px solid #F87217;
}



/***********************************************
Body styling 
***********************************************/

body {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px;
    font-size: 1.3em;
    line-height: 1.6em;
font-family: 'Indie Flower', cursive;    
  color: #155;
    font-weight: 500;
}



/***********************************************
Image styling 
***********************************************/

img {
    border-radius: 20%;
    max-width: 540px;
}



/***********************************************
Headline styling 
***********************************************/
h1 {
    font-size: 1.5em;
    line-height: 0.5em;
    color: #CC6600;
}

h2 {
    font-size: 1em;
    line-height: 1.5em;
    font-style: oblique;
    color: #ccc;

}

h3 {
    font-size: .875em;
    line-height: 1em;
    font-weight: normal;
}

h4 {
    margin-top: 60px;
    font-weight: 500;
  color: #168EF7;
}